.birthdayArea {
  /* border: 1px solid #403F3E;
  float: left;
  padding: 15px 100px 15px 15px;
  margin-left: 5px;
  height: 100vh */
  width: 25%;
  background: white;
}

.name-area {
  list-style: none;
  padding-left: 10px
}

.check-area {
  display: flex
}

.check {
  font-size: 30px
}
