.birthdayArea {
  border: 1px solid #403F3E;
  float: left;
  padding: 15px 100px 15px 15px;
  margin-left: 5px;
  height: 100vh
}

.name-area {
  list-style: none;
  padding-left: 10px
}

.check-area {
  padding: 5px
}

.fa-check {
  top: 5px;
}
