html, body {
  background: #FFECD6;
  font-family: 'Zen Loop', cursive;
  letter-spacing: .1em;
}

.main {
  display: grid;
  grid-template-rows: 12% 88%;
}

/* .styling-header {
} */

.styling-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.top-half {
  display: flex;
}


