html, body {
  background: #FFECD6;
  font-family: 'Zen Loop', cursive;
  letter-spacing: .1em;
}

.main {
  display: grid;
  grid-template-rows: 5% 95%;
}

a {
  color: inherit;
  text-decoration: none;
}

.styling-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.top-half {
  display: flex;
  align-items: flex-start;
  margin-top: 5%;
  justify-content: flex-start;
}

.loading {
  text-align: center;
  font-size: 40px;
}

@media screen and (max-width: 650px) {
  .top-half {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2%;
    height: 50%;
  }
}



@media screen and (min-width: 750px) {
  .main {
    grid-template-rows: 12% 88%;
  }
}



