* {
  /* border: 1px solid red; */
}

.add-friend {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20em;
}

.add-friend-button {
  min-width: 100px;
  padding: 10px 30px;
  border-radius: 4px;
  border: none;
  background-color: #141414;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}