.add-friend {
  align-items: center;
  display: flex;
  height: 16em;
  justify-content: center;
  width: 100%;
}

  .add-friend {
    align-items: flex-start;
    display: flex;
    height: 30%;
    justify-content: center;
    width: 100%;
    margin-top: 0;
  }

  .plus-label {
    color: black;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
  }

  .add-section {
    align-items: center;
    background-color: darksalmon;
    border: solid black 3px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    height: 25%;
    margin-top: 3em;
    padding: 5%;
    width: 65%;
  }

  .fa-plus {
    cursor: pointer;
    font-size: 40px;
    margin-top: 10px;
  }

  .fa-plus:hover {
    transform: scale(1.2);
  }

  .fa-plus:active {
    transform: scale(0.9);
  }

@media screen and (min-width: 650px) {
  .add-friend {
    height: 20em;
    margin-bottom: 2em;
  }

  .plus-label {
    color: black;
    font-family: 'Satisfy', cursive;
    font-size: 45px;
  }

  .add-section {
    height: 50%;
    margin-bottom: 0;
    flex-direction: column;
  }

  .fa-plus {
    font-size: 60px;
  }
};

@media screen and (min-width: 850px) {
  .plus-label {
    font-size: 65px;
  }
  
  .fa-plus {
    font-size: 60px;
  }
}
