header {
  border: solid black 3px;
  height: 100%;
}

.title {
  text-align: right;
  padding-right: 3%;
  font-family: 'Satisfy', cursive;
  font-size: xxx-large;
  color: #eF4823;
}

img {
  height: 50px;
  /* width: 15px; */
}

.userName {
  position: absolute;
  top: 0;
  left: 10px;
}
